html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "Poppins";
}

.text-center {
  text-align: center !important;
}

.h-100 {
  height: 100% !important;
}
.h-50 {
  width: 50% !important;
}
.w-100 {
  width: 100% !important;
}
.w-50 {
  width: 50% !important;
}

.w-25 {
  width: 25% !important;
}

.text-bold {
  font-weight: bold !important;
}
.text-bolder {
  font-weight: bolder !important;
}

.d-flex {
  display: flex !important;
}
.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.justify-content-evenly {
  justify-content: space-evenly !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.align-content-start {
  align-content: flex-start !important;
}

.align-content-end {
  align-content: flex-end !important;
}

.align-content-center {
  align-content: center !important;
}

.align-content-between {
  align-content: space-between !important;
}

.align-content-around {
  align-content: space-around !important;
}

.align-content-stretch {
  align-content: stretch !important;
}

/* ANTD CSS */
.ant-col.ant-form-item-label {
  padding: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}
.flex-grow-1 {
  flex-grow: 1 !important;
}

.text-center {
  text-align: center !important;
}
